.dashSubDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 40px;
    gap: 40px 60px;
}

.dashSubDiv1 {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(32, 32, 32);
    border-radius: 20px;
    background: #edf9ff;
    box-shadow: 0px 0px 3px 1px #007aff;
}

.divIconWidth {
    width: 30%;

}


.adminDashbord{
    flex:1;
    height: calc(100vh - 2px - 5rem);
    overflow: scroll
}
